body, html {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  font-family: 'Montserrat';
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.bg, .bg2 {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg {
  -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
  clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
  background-color: #226dbc;
  z-index: -1;
}

.bg2 {
  -webkit-clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
  clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
  background-color: #2a5f98;
  z-index: -2;
}

.container{
  display: grid;
  grid-template-columns: 50% auto;
  height: auto;
  align-self: center;
  margin: 0 50px;
}
ul {
  list-style-type: none;
  perspective: 1000px;
}

ul li {
  display: grid;
  grid-template-columns: 20% auto;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transform: rotateY(-30deg) rotateX(15deg);
  transition: transform 0.1s ease-out;
  position: absolute;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  mix-blend-mode: multiply;
}

ul li:nth-child(1) {
  background: #bfe8fc;
  top: -105px;
  z-index: 2;
}

ul li:nth-child(2) {
  background: #faffc8;
  z-index: 1;
}

ul li:nth-child(3) {
  background: #f2e4ff;
  top: 105px;
}

ul li:hover {
  transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
  transition: transform 0.1s ease-out;
  z-index: 3;
  mix-blend-mode: normal;
}

img {
  width: 70%;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}
